<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.questing.mapper.HabitMapper">

    <select id="getTodayHabits" resultType="com.app.questing.dto.HabitDTO">
        <![CDATA[
        SELECT
            id,
            user_id,
            title,
            content,
            category,
            duration_time,
            strt_date,
            end_date,
            created_at,
            updated_at
        FROM habits
        WHERE 1=1
          AND strt_date <= CURRENT_DATE
          AND end_date >= CURRENT_DATE
          AND user_id = #{userId}
          AND deleted_at IS NULL
          ]]>
    </select>

    <select id="findHabitById" resultType="com.app.questing.dto.HabitDTO">
        SELECT
            id,
            user_id,
            title,
            content,
            category,
            duration_time,
            strt_date,
            end_date,
            created_at,
            updated_at
        FROM habits
        WHERE id = #{id}
          AND user_id = #{userId}
          AND deleted_at IS NULL
    </select>

    <select id="findHabitByCategory" resultType="com.app.questing.dto.HabitDTO">
        SELECT
            id,
            user_id,
            title,
            content,
            category,
            duration_time,
            strt_date,
            end_date,
            created_at,
            updated_at
        FROM habits
        WHERE category = #{category}
        AND user_id = #{userId}
        AND deleted_at IS NULL
    </select>

    <insert id="insertHabit" parameterType="com.app.questing.dto.HabitDTO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO habits(
            user_id,
            title,
            content,
            category,
            duration_time,
            strt_date,
            end_date
        ) VALUES (
            #{userId},
            #{title},
            #{content},
            #{category},
            #{durationTime},
            #{strtDate},
            #{endDate}
        )
    </insert>

    <update id="updateHabit">
        UPDATE habits
        SET
            title = #{title},
            content = #{content},
            category = #{category},
            duration_time = #{durationTime},
            strt_date = #{strtDate},
            end_date = #{endDate},
            updated_at = NOW()
        WHERE user_id = #{userId}
          AND id = #{id}
          AND deleted_at IS NULL
    </update>

    <update id="deleteHabit">
        UPDATE habits
        SET
            deleted_at = NOW()
        WHERE user_id = #{userId}
          AND id = #{id}
          AND deleted_at IS NULL
    </update>

    <select id="findTodayHabitLog" resultType="com.app.questing.dto.HabitLogDTO">
        SELECT
            id,
            user_id,
            habit_id,
            completed_date,
            completed_at,
            category,
            duration_time,
            earned_exp,
            created_at,
            deleted_at
        FROM habit_logs
        WHERE user_id = #{userId}
          AND habit_id = #{habitId}
          AND completed_date = #{completedDate}
          AND deleted_at IS NULL
    </select>

    <insert id="insertHabitLog" parameterType="com.app.questing.dto.HabitLogDTO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO habit_logs (
            user_id,
            habit_id,
            completed_date,
            category,
            duration_time,
            earned_exp
        ) VALUES (
            #{userId},
            #{habitId},
            #{completedDate},
            #{category},
            #{durationTime},
            #{earnedExp}
        )
    </insert>


</mapper>